<% if comments.any? %>
  <p>コメント</p>
  <% comments.each do |comment| %>
    <p>
      <%= comment.content %>
      <% if comment.user.name %>
        <%= link_to "@#{comment.user.name}", comment.user %>
      <% else %>
        <%= link_to "@#{comment.user.email}", comment.user %>
      <% end %>
      <%= format_datetime(comment.created_at) %>
      <% if comment.user == current_user %>
        <%= button_to '削除', polymorphic_path([commentable, comment]), method: :delete %>
      <% end %>
    </p>
  <% end %>
<% else %>
  <p>コメントはまだありません</p>
<% end %>
