<%= form_with(model: [commentable, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= I18n.t("errors.messages.not_saved",
                  count: comment.errors.count,
                  resource: comment.class.model_name.human.downcase) %>
      </h2>
      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :content, placeholder: t('views.comment.placeholder'), required: true %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
