<h2><%= User.human_attribute_name(:email) %></h2>
<%= @user.email %>

<h2><%= User.human_attribute_name(:introduction) %></h2>
<%= @user.introduction %>

<h2><%= User.human_attribute_name(:post_code) %></h2>
<%= @user.post_code %>

<h2><%= User.human_attribute_name(:address) %></h2>
<%= @user.address %>
