<p style="color: green"><%= notice %></p>

<h1><%= t('links.index', name: Book.model_name.human) %></h1>

<div id="books" class="index-items">
  <% @books.each do |book| %>
    <div class="index-item">
      <%= render book %>
      <p>
        <%= link_to t('links.show', name: Book.model_name.human.downcase), book %>
      </p>
    </div>
  <% end %>
</div>

<nav class="page-nav">
  <%= link_to t('links.new', name: Book.model_name.human.downcase), new_book_path %>
</nav>
