<p style="color: green"><%= notice %></p>

<h1><%= t('.books') %></h1>

<div id="books" class="index-items">
  <% @books.each do |book| %>
    <div class="index-item">
      <%= render book %>
      <p>
        <%= link_to t('books.links.show'), book %>
      </p>
    </div>
  <% end %>
</div>

<nav class="page-nav">
  <%= link_to t('books.links.new'), new_book_path %>
</nav>
