<h1><%= @report.title %></h1>
<p><strong><%= Report.human_attribute_name(:content) %></strong></p>
<p><%= @report.content %></p>
<p>
  <%= link_to "@#{@report.user.name}", user_path(@report.user) %>
  <%= format_datetime(@report.created_at) %>
</p>

<div class="page-nav">
  <% if @report.user_id == current_user.id %>
    <%= link_to t('views.common.edit', name: Report.model_name.human.downcase), edit_report_url(@report) %>
    <%= button_to t('views.common.destroy', name: Report.model_name.human.downcase), @report, method: :delete %>
  <% end %>

  <%= link_to t('views.common.back', name: i18n_pluralize(Report.model_name.human.downcase)), books_path %>
</div>
