<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= params[:action] %>">
    <p class="navbar-text float-right">
    <% if user_signed_in? %>
      <%= t('views.common.logged_in_as', name: current_user.email) %>
      <%= link_to t('links.books'), root_path %> |
      <%= link_to t('links.users'), users_path %> |
      <%= link_to t('links.edit_profile'), edit_user_registration_path %> |
      <%= link_to t('links.logout'), destroy_user_session_path, data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to t('links.sign_up'), new_user_registration_path %> |
      <%= link_to t('links.sign_in'), new_user_session_path %>
    <% end %>
    </p>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
